// edit gallerie block

.gallery{
  font-weight: 400;
  font-size: 13px;
  
  .gallery-header{
    padding-block: 40px;
    border-top: 1px solid #ffffff;

    h3{
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }

    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .gallery-content{
    display: flex;
    column-gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;

    .gallery-item{
      flex-shrink: 0;
      flex-basis: 350px;
  
      .gallery-image{
        position: relative;
       
        .gallery-image-icon{
          color: #ffffff;
          position: absolute;
          bottom: 20px;
          left: 20px;
          display: flex;
          align-items: center;
          column-gap: 10px;
          cursor: pointer;
        }
      }
  
      .gallery-content{
        line-height: 28px;
        margin-top: 11px;
      }
    }
  }
} 

@media(min-width:1200px){
  .gallery{
    display: flex;
    column-gap: 60px;

    .gallery-header{
      max-width: 240px;
    }

  }
}