/* Main grid */
.grid {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "grid-cl-middle"
    "grid-cl-left"
    "grid-cl-right";

  .grid-cl-left {
    grid-area: grid-cl-left;
  }

  .grid-cl-middle {
    grid-area: grid-cl-middle;
  }

  .grid-cl-right {
    grid-area: grid-cl-right;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "grid-cl-left grid-cl-middle  grid-cl-right";
    column-gap: 60px;
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: 240px 720px 240px;
  }
}
